RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R] # <- for test, for prod use [L,R=301]
#RewriteRule ^([^\.]+)$ $1.php [NC,L] 

RewriteRule ^$                  view_index.php [NC,L] 
RewriteRule ^flight_search$     view_flight_search.php [NC,L] 
RewriteRule ^trips$             view_trips.php [NC,L] 
RewriteRule ^stays$             view_stays.php [NC,L] 
RewriteRule ^car$               view_car.php [NC,L] 
RewriteRule ^ferries$           view_ferries.php [NC,L] 
RewriteRule ^things_to_do$      view_things_to_do.php [NC,L] 
RewriteRule ^holidays$          view_holidays.php [NC,L] 
RewriteRule ^explore$           view_explore.php [NC,L] 
RewriteRule ^rejserestriktioner$   view_rejserestriktioner.php [NC,L] 
RewriteRule ^admin$             view_admin.php [NC,L] 


RewriteRule ^app.css$           css_app.css [NC,L]          
         
ErrorDocument 404 /view_404.php