* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}

body {
  width: 100%;
  height: 100vh;
  background: rgba(33, 3, 58, 1);
  overflow-x: hidden;
}

.input-caontainer {
  height: 3rem;
  width: 100%;
  padding: 0 1rem;
  border-radius: 8px;
  font-family: CeraPro-Regular, "Cera Pro", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 1rem;
  color: #150127;
  background-color: #f3f0f5;
  border: 1px solid #f3f0f5;
  /* display: flex; */
  display: grid;
  align-items: center;
  grid-auto-flow: column;

  margin-top: 0.3rem;
}

input {
  background: none;
  outline: none;
  border: none;
  padding-left: 0.8rem;
}

.input-caontainer2 input {
  height: 3rem;
  width: 100%;
  padding: 0 1rem;
  border-radius: 3px;
  font-family: CeraPro-Regular, "Cera Pro", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 1rem;
  color: #150127;
  background: none;
  border: 1px solid #f3f0f5;
  display: flex;
  margin-top: 0.5rem;
}

.input-caontainer2 input:focus {
  box-shadow: 0px 5px 10px rgba(64, 164, 204, 0.75);
  border-bottom: 2px solid #2444a4;
}

.button_type_1,
.button_type_2,
.button_type_3 {
  all: unset;
  background: linear-gradient(
    80deg,
    rgba(222, 22, 102, 1) 0%,
    rgba(127, 36, 106, 1) 100%
  );
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem 0;
  color: white !important;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
  font-family: "Cera Pro", sans-serif;
  /*  margin-top: 0.5rem; */
  cursor: pointer;
  border: none !important;
}

.button_type_1:hover {
  filter: brightness(90%);
}

.button_type_2:hover {
  background: #ddd6e3;
}

.button_type_2 {
  background: none;
  border: 1px solid black !important;
  margin-top: 0;
}

.button_type_2 {
  color: black !important;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 100;
}

.button_type_3 {
  width: 50px;
  height: 50px;
  border-radius: 100% !important;
  padding: 1rem !important;
  font-size: 0.8rem !important;
}

.error_style {
  font-size: 0.7rem;
  color: red;
}

.validate_error {
  box-shadow: 0px 5px 10px rgba(204, 64, 64, 0.75) !important;
  border-bottom: 2px solid #a42424 !important;
}

h1 {
  font-family: CeraPro-Bold, "Cera Pro", sans-serif;
  font-weight: 700;
  font-size: 1.34rem;
  text-align: center;
  color: white;
  padding-top: 2.8rem;
}

a,
p,
h2 {
  font-family: "cerapro-bold", sans-serif;
  text-decoration: none;
}

#menu_container {
  background: rgba(33, 3, 58, 0.5);
  position: absolute;
  top: 3.6rem;
  left: -200vw;
  width: 200vw;
  height: 100vh;
  z-index: 9999;
  transition: 0.2s linear;
}

#menu_container.active {
  left: 0;
}

#menu_container #menu {
  width: 300px;
  height: 100vh;
  padding: 1rem;
  color: white;
  background: rgba(33, 3, 58, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  height: 3.6rem;
  background: rgba(33, 3, 58, 1);
}

nav #logo_container {
  display: flex;
  align-items: center;
}

nav #logo_container button {
  all: unset;
  cursor: pointer;
  height: 1.55rem;
  padding: 0.2rem;
}
nav #logo_container button:hover {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
}
nav #logo_container button:hover path {
  fill: rgba(33, 3, 58, 1);
  color: rgba(33, 3, 58, 1);
}

.toggle_700 {
  display: none;
}

.toggle_700_flex {
  display: none;
}
.toggle_mobile {
  display: block;
}

nav a,
footer a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.85rem;
  padding: 15px 15px;
}

nav #denmark-icon {
  padding-left: 15px;
}

nav #man-icon {
  width: 20px;
  filter: invert(1);
}

nav svg {
  fill: white;
  width: 20px;
  margin: 0;
  padding: 0;
}

nav #login-button {
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 11px;
}

nav #login-button:hover {
  background: rgba(255, 255, 255, 0.8);
  border-color: rgba(33, 3, 58, 1);
  fill: black;
  color: black;
}

nav #login-button:hover svg,
#login-button:hover a {
  fill: rgba(33, 3, 58, 1);
  color: rgba(33, 3, 58, 1);
}

nav #login-button a {
  padding-left: 11px;
}

nav #dansk {
  padding-left: 5px;
}

nav #logo {
  width: 140px;
  cursor: pointer;
}

main#index {
  padding: 0 3rem;
}

main#index h1 {
  padding: 2rem 1rem;
}

main#index #from_to_container,
main#index #time_container {
  background-color: #0095cc;
}

main#index #from_to_container {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
main#index #time_container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

main#index #flight_form div#switch {
  border: 5px solid #0095cc;
}

div#flights-search {
  background-color: #150127;
}
main#flight_main div#flights-search {
  padding: 2rem 3rem;
}

main#flight_main div#flights-search #flight_form button {
  all: unset;
  padding: 0 0.8rem !important;
  border-radius: 8px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  font-size: 1rem !important;
  color: #150127 !important;
  background-color: #f3f0f5 !important;
  border: 1px solid #f3f0f5 !important;
  display: flex !important;
  align-items: center !important;
  height: 3rem !important;
}

div#trip_details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem 0;
  padding-top: 2rem;
  padding-top: 0.1rem;
}

div#trip_details > * {
  display: flex;
  align-items: start;
  margin-right: 1rem;
}

div#trip_details p {
  color: white;
  font-size: 0.85rem;
  font-weight: 400;
  letter-spacing: 0.08em;
  padding-bottom: 1rem;
}

#flight_form {
  display: grid;
  position: relative;
}

#flight_form div#from-container div#from-results {
  display: none;
  width: 455px;
  background: white;
  border-radius: 8px;
  margin-top: 8px;
  position: absolute;
  padding: 1rem;
  z-index: 999999;
}

div.city-contaier {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 8px;
}

div.city-contaier img {
  height: 3rem;
  width: 3rem;
  border-radius: 8px;
  margin-right: 15px;
}

div.city-contaier p {
  color: #150127;
  font-size: 0.85rem;
  font-weight: 700;
}

div.city-contaier p:nth-child(3) {
  padding-left: 5px;
}

div.city-contaier p:nth-child(3),
.city-contaier p:nth-child(2) {
  color: #9684a4;
  font-weight: 400;
  font-size: 0.8rem;
}
div.city-contaier .flex p:nth-child(2) {
  padding-left: 5px;
  color: #150127;
  font-size: 0.85rem;
  font-weight: 700;
}

div.city-contaier input {
  margin-left: auto;
}

div.city-contaier:hover {
  background: rgba(33, 3, 58, 0.1);
}

#flight_form div#switch {
  height: 2rem;
  width: 2rem;
  /*   height: 3rem;
  width: 3rem; */
  background-color: #f3f0f5;
  border: 1px solid #f3f0f5;
  border-radius: 8px;
  /* margin: 0 0.5rem; */
  cursor: pointer;

  place-self: end;
  top: 270px;
  margin-right: 1rem;
  position: absolute;
  transform: rotate(90deg);
}

#flight_form div#switch {
  border: 1px solid #000000;
  top: 40px;
}

#flight_form #from_to_container {
  display: grid;
}

#from_to_container,
#time_container {
  border-radius: 6px;
  padding: 0 0.3rem;
}

#flight_form div#to-container div#to-results {
  display: none;
  width: 455px;
  background: white;
  border-radius: 8px;
  margin-top: 8px;
  position: absolute;
  padding: 1rem;
  z-index: 999999;
}

#flight_form div#time_container {
  padding-top: 0;
}

#flight_form div#time_container > * {
  margin: 0.3rem 0;
}

.the_big_black {
  width: 100vw;
  height: 100%;
  background: rgba(33, 3, 58, 0.5);
  margin-top: -3.6rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
}
.the_big_black .module_container {
  grid-column-start: 2;
  background: white;
  height: max-content;
  margin-top: 5rem;
  border-radius: 18px;
}

.the_big_black .module_container .module_top {
  display: flex;
  justify-content: space-between;
}

.the_big_black .module_container .module_top .module_logo {
  margin: 1.2rem;
}

.the_big_black .module_container .module_top .x {
  margin: 0.8rem;
  color: gray;
  font-weight: 100;
  cursor: pointer;
  text-decoration: none;
}

.the_big_black .module_container .module_top .back {
  margin-left: 2rem;
}

.the_big_black .module_container .module_top .back a {
  font-size: 0.8rem;
  color: rgb(64, 164, 204);
}

.the_big_black .module_container .module_mid {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.module_txt {
  padding: 1rem 2rem;
}

.module_txt p {
  font-size: 0.8rem;
  padding-top: 0.5rem;
  font-weight: 400;
  color: rgb(110, 110, 110);
}

.the_big_black .module_container form {
  padding: 1rem 2rem;
  padding-bottom: 0;
}

.or_container .or_line {
  height: 1px;
  background: rgb(210, 210, 210);
  width: 250px;
}

.or_container p {
  padding: 0.5rem;
}

.module_bot {
  padding: 0 2rem;
}

.module_container .button_type_1 {
  margin-top: 1rem;
}

footer {
  width: 100vw;
  background: rgba(19, 0, 38, 1);
  padding: 3.5rem 2rem;
  margin-top: 5rem;
  color: white;
}

footer h4 {
  font-family: "cerapro-regular", sans-serif;
  font-size: 0.8rem;
  padding-bottom: 1rem;
}

footer a {
  padding: 0;
  padding-bottom: 0.7rem;
  font-size: 0.7rem;
  font-weight: 100;
  inline-size: 100px;
  word-wrap: break-word;
}

footer a:hover {
  text-decoration: underline;
}

footer .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer .top .grid {
  min-width: 100px;
}

footer .mid {
  padding-top: 4rem;
  padding-bottom: 0.5rem;
}
footer .mid .border_button {
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  margin: 1.4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .mid .border_button:hover {
  border-color: rgb(140, 63, 204);
}

footer .mid .border_button h5,
footer .mid .border_button p,
footer .bot p {
  font-size: 0.7rem;
  font-weight: 100;
  padding: 0.5rem 0;
}

footer .mid .border_button p {
  text-transform: uppercase;
  letter-spacing: 0.23em;
}

footer .mid .border_button svg {
  transform: rotate(-90deg);
  padding: 0.15rem;
}

footer .bot p {
  color: gray;
  padding: 0.5rem 1rem;
}

footer .bot .flex {
  justify-content: center;
}

footer .bot {
  padding-bottom: 4rem;
}

.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
  align-items: center;
}

.orange {
  color: #f57318;
}

.orange-hover:hover {
  color: #f57318;
  transition: color 0.2s ease;
}
.white-hover:hover {
  color: white;
  transition: color 0.2s ease;
}

.dark {
  fill: rgba(33, 3, 58, 1);
  color: rgba(33, 3, 58, 1);
}

.light {
  fill: white;
  color: white;
}

.line {
  height: 2rem;
  width: 1px;
  background: black;
  margin: 0 1rem;
  align-self: center;
}

@media screen and (min-width: 750px) {
  h1 {
    text-align: left;
    padding-left: 0 !important;
    font-size: 1.8rem;
  }
  .toggle_700 {
    display: block;
  }
  .toggle_700_flex {
    display: flex;
    align-items: center;
  }
  .toggle_mobile {
    display: none;
  }
  #flight_form #from_to_container {
    display: flex;
  }
  #flight_form #from_to_container > * {
    flex-grow: 1;
  }

  #flight_form div#switch {
    height: 3rem;
    width: 3rem;
    flex-grow: unset;
    margin: 0 0.5rem;
    margin-right: 0.5rem;
    position: static;
    transform: rotate(0deg);
  }

  main#index #flight_form div#switch {
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
  }

  footer .top {
    max-width: 600px;
  }

  footer .mid h4 {
    display: block !important;
    padding-bottom: 0;
  }

  footer .bot {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 900px) {
  main#index,
  footer {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
  }
  main#index .center_container,
  footer .center_container {
    grid-column: 2;
  }
  #flight_form {
    display: flex;
    align-items: center;
  }

  #flight_form input {
    min-width: 5rem;
  }

  #flight_form div#switch {
    min-width: 3rem;
  }

  main#index #flight_form #from_to_container,
  #time_container .one {
    padding-bottom: 0.3rem;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0;
  }

  #flight_form #from_to_container {
    padding-bottom: 0.3rem;
  }

  #time_container .one {
    padding-bottom: 0;
  }

  #flight_form div#time_container,
  #time_container .two {
    display: flex;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 6px;
  }

  #flight_form button {
    margin-left: 0.5rem;
    margin-top: 0;
  }

  footer #top_mid_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5rem;
  }

  footer .mid {
    padding-top: 0;
  }

  footer .mid .border_button {
    border: 1px white solid;
    border-radius: 4px;
    padding: 0 1rem;
  }
  footer .mid .border_button h5 {
    display: none;
  }
  footer .mid .border_button p {
    text-transform: unset;
    padding-left: 0.5rem;
  }

  footer .mid .border_button img {
    display: block !important;
  }

  footer .mid .border_button #pund-icon {
    padding: 0.2rem;
    filter: invert(100%);
  }

  footer .mid .border_button svg {
    transform: unset;
    padding: 0.15rem;
  }
  footer #footer_img {
    display: block !important;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1300px) {
  main#index,
  footer {
    grid-template-columns: 1fr 1200px 1fr;
  }

  main#flight_main div#flights-search {
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
  }

  main#flight_main div#flights-search > * {
    grid-column: 2;
  }
}
